.none {
    display: none;
}

.flex {
    display: flex;

    &-fd-c {
        flex-direction: column;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }

    &-ai-s {
        align-items: stretch;
    }
}
